{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<style type="text/css">
    #fos_user_change_password_form_current_password {
        width: 100%;
    }
    #fos_user_change_password_form_plainPassword_first {
        width: 100%;
    }
    #fos_user_change_password_form_plainPassword_second {
        width: 100%;
    }
</style>
    <div>
        <br>
        <center><input class="btn btn-lg btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" /></center>
    </div>
{#test git#}

{{ form_end(form) }}


