{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ ' กรุณาตรวจสอบ อีเมลล์ของท่าน'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
